/* Core game timeline sorting elements */
/* Sortable elements */
ul.sortablelist {
	list-style-image:none;
	list-style-type:none;
	margin-top:5px;
	margin:0px;
	padding:0px;
	margin-left: 15px;
	list-style-position: outside;
}

ul.sortabledemo li {
	padding:2px;
	margin:0px;
	list-style-type: none;
}
span.handle {
  background-color: #E8A400;
  color:white;
  cursor: move;
}
.green a:visited {
	text-align: right;
} 
#firstlist  {
	margin-left: 10px;
}
#firstlist a:visited {
	text-align: right;
}
li.green {
	background-color: #EEF3FD;
	border: 1px solid #A0B9FE;
	cursor: move;
	list-style-image: none;
	list-style-type: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	vertical-align: bottom;
}
li.orange {
	border:1px solid #E8A400;
	background-color: #FFF4D8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	text-indent: 0px;
	}
li.orange1 {
	border:1px solid #E8A400;
	background-color: #FFF4D8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	text-indent: 0px;
	display: none;
}	
#thirdlist {
	display: none;
}
.new_custom_event {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: left;	
}
.new_custom_event h3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: left;	
}