<p>Columbus in '92 - si'. Rome was a 1000 years earlier - 410AD.</p><p> 3000 pts for remembering your rhyme from second grade. </p>

<%= link_to "Go to level 3!", { :action => "gameUpdate3p" }, :remote => 'true' %>