   <div id = "next"> <p>Ack! In 1492<br />Columbus sailed the Ocean Blue<br /><br />Rome: 410 CE</p><p> No bonus for you. </p>
   <%= link_to "Go to level 3!", { :action => "gameUpdate3p" }, :remote => 'true' %>
   </div>
