<div id="playArea">
    <%= render(:partial => "search_box") %>

<div id="sourceListDiv" style="float:left;">
<div id="playArea">


 <div id="bonus" class="bonus">
<div class="roundedcornr_box_428578">
   <div class="roundedcornr_top_428578"><div class="rndcrnertopcontent" ><h2>Sign in to Play more<BR />
</h2></div></div>
      <div class="roundedcornr_content_428578">
      <div class="level_dialogue">

 <div id="message2"></div>
<p class="style3">You made it to Level 3!
 <P>There's lots more. Plus, you can customize or make your own games! <.p>
 <p>Keep track of your scores and time, invite others, and help us build the rest of the game: 
 <%= button_to "Signup", :controller => 'users', :action => 'new' %> </p><br />
 <br />
 <br />
 <!--- link_to "play as guest", :controller => 'users', :action => 'guest' --->
 <!--- link_to_remote "Play as Guest", :url => { :action => "gameUpdate2a" }  --->
 </div>


<p>Still don't want to sign up? We're working on it; Check back. For now it's like letting people you know try the sweets at your new bakery. We want to get it just right!<br />
Thanks!





      </div>

   <div class="roundedcornr_bottom_428578"><div></div></div>
</div>
 <div id="message2"></div>
 

 <div id="message1"></div>
 

</div>


<!--end sourceListDiv-->
<div id="rightmain">
<script src="http://whendidji.uservoice.com/pages/general/widgets/tab.js?alignment=right&amp;color=FFFFFF" type="text/javascript">
</script>
</div>
  <div id="centercolfloatleft" style="float:left;">

	<!--end centerlistdiv-->
 </div>
 <!--end centercolfloatleft-->
	<div id="rightcolumn" style="float:left">



 </div>
  <!--end  rightcolumn-->
 </div>
 <!--end  rightmain-->
</div>
  <!--end  playArea-->
<!--end verticalstretch-->
