<html>
    <head>
        <title>Confidential Disclosure Agreement</title>
    </head>
    <body>
        <h3>Confidential Disclosure Agreement</h3>
<p>By viewing or using this demonstration site, you agree to the following terms: This Agreement is entered by and between Edwin C. Jones with offices at Carrollton, OH  (hereinafter "Discloser") and you, the user,(hereinafter "Recipient").
WHEREAS Discloser possesses certain ideas and information relating to interactive history education that is confidential and proprietary to Discloser (hereinafter "Confidential Information"); and
WHEREAS the Recipient is willing to receive disclosure of the Confidential Information pursuant to the terms of this Agreement for the purpose of review, comment, and evaluation;
NOW THEREFORE, in consideration for the mutual undertakings of the Discloser and the Recipient under this Agreement, the parties agree as follows: 
</p>
<OL></OL>
Disclosure. Discloser agrees to disclose, and Receiver agrees to receive the Confidential Information.
2. Confidentiality. 
2.1 No Use. Recipient agrees not to use the Confidential Information in any way, or to manufacture or test any product embodying Confidential Information, except for the purpose set forth above. 
2.2 No Disclosure. Recipient agrees to use its best efforts to prevent and protect the Confidential Information, or any part thereof, from disclosure to any person other than Recipient's employees having a need for disclosure in connection with Recipient's authorized use of the Confidential Information.
2.3 Protection of Secrecy. Recipient agrees to take all steps reasonably necessary to protect the secrecy of the Confidential Information, and to prevent the Confidential Information from falling into the public domain or into the possession of unauthorized persons.
3. Limits on Confidential Information. Confidential Information shall not be deemed proprietary and the Recipient shall have no obligation with respect to such information where the information: 
(a) was known to Recipient prior to receiving any of the Confidential Information from Discloser; 
(b) has become publicly known through no wrongful act of Recipient;
(c) was received by Recipient without breach of this Agreement from a third party without restriction as to the use and disclosure of the information;
(d) was independently developed by Recipient without use of the Confidential Information; or
(e) was ordered to be publicly released by the requirement of a government agency.
 
Confidential Disclosure Agreement, cont’d


4. Ownership of Confidential Information. Recipient agrees that all Confidential Information shall remain the property of Discloser, and that Discloser may use such Confidential Information for any purpose without obligation to Recipient. Nothing contained herein shall be construed as granting or implying any transfer of rights to Recipient in the Confidential Information, or any patents or other intellectual property protecting or relating to the Confidential Information.
5. Term and Termination. The obligations of this Agreement shall be continuing until the Confidential Information disclosed to Recipient is no longer confidential.
6. Survival of Rights and Obligations. This Agreement shall be binding upon, inure to the benefit of, and be enforceable by (a) Discloser, its successors, and assigns; and (b) Recipient, its successors and assigns.
IN WITNESS WHEREOF, the parties have executed this agreement effective as of the date first written above.
</OL>
</p>
    </body>
</html>
