<!--begin page header-->  
  <div id="header">  
    <div class="style9">
        <span align="left" class="challenge">Dude, Surely you can put these famous ppl in order! <br /></span>
    </div>
      <div id="lowerMast">
          <div id="mastImage" width="300">
              <img src="../images/bluej160d.png" align="left">
      </div>
        <div id="canteachers" class="challenge" align="right">
       (But can your teachers?)
      </div>
      <div class="brand" > <img id="brandImage" align="right"  src="../images/whendidji.gif"></div>
    </div>
  </div>
<!--end page header-->