<!--begin page header-->  
  <div id="header">  
    <div class="style9">
        <span align="left" class="challenge">My Account <br /></span>
    </div>
      <div id="lowerMast3">
          <div id="mastImage" width="300">

      </div>
        <div id="canteachers" class="challenge" align="right">
       (Help Whendidji Grow.)
      </div>
      <div class="brand" > <div id="brandimage"> <%= image_tag("whendidji.gif") %></div></div>
    </div>
  </div>
<!--end page header-->